doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/build/dist/jquery.min.js')
    script(src='/javascripts/build/dist/socket.io.js')
    script(src='/javascripts/build/dist/react.min.js')
    script(src='/javascripts/build/dist/helloWorld.js')
    script(src='/javascripts/build/dist/main.js')