doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    block content
    script(src='/javascripts/build/dist/jquery.min.js')
    script(src='/javascripts/build/dist/socket.io.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
    script(src='/javascripts/build/dist/chat.js')
   